.nav-container{
    width:100%;
    height:70px;
    background-color:rgb(28, 28, 246);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading{
    color:white;
    padding:10px;
    font-size:20px;
    margin-left: 10px;
} 
.nav-buttons{
    display:flex; 
  
    align-items: center;
} 
.main-container{
    background-image: url("./assests/imageback.jpg");
    min-height:100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.national-btn{
    background-color: rgb(203, 247, 232);
    border:none;
    padding:10px;
    height:30px;
    margin-right:10px;
    border-radius:5px;
    cursor:pointer;
    text-align: center;
}